@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

p {
  padding: 5px 0 5px 0;
  color: #000;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 35px 20px 35px 20px;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
}

video {
  margin-top: 5px;
  width: 100%;
  height: 480px;
  object-fit: contain;
}

button {
  padding: 0 15px 0 15px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.video__chapter {
  padding: 0;
  margin: 0;
}
.header__top {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  height: 85px;
  align-items: center;
  background-color: #b6eaff;
}

.logo {
  scale: 90%;
}

.buffer__val {
  font-size: 22px;
}

.menu__list {
  display: flex;
}

.info__check {
  justify-content: flex-start;
  text-align: right;
  margin-right: 30px;
  font-size: 20px;
  padding: 10px;
  color: #000;
}

.info__check p b span {
  color: black;
  font-size: 24px;
}

.info__check p:first-child {
  padding-bottom: 5px;
}

.info__check p + * {
  padding-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  min-height: 870px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #b6eaff;
}

.operation__field {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.search__general {
  flex-direction: column;
}
.search__horizontal {
  height: 60px;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Распределяет пространство между элементами */
  align-items: center; /* Выравнивание по вертикали */
  margin-left: auto;
  margin-right: auto;
}
.dummy {
  width: 300px;
}
.search__field {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clean__button-wrap {
  width: 300px;
  display: flex;
  justify-content: flex-end; /* Выравнивает содержимое по правому краю */
  margin-right: 10px;
}
.result__wrap {
  display: flex;
  justify-content: center;

  font-size: 14px;
}

.search__input {
  width: 400px;
  padding: 6px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.clean__button {
  margin-left: 10px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Контейнер на всю ширину */
  align-items: center;
  max-height: 100px;
  overflow: hidden;
}

.before__word {
  width: 25%;
  text-align: left;
  font-size: 20px;
  color: #333;
}

.after__word {
  width: 25%;
  text-align: right;
  font-size: 20px;
  color: #333;
}

.counter__input {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.counter__input p {
  margin-top: 0;
  margin: 0;
  font-size: 20px;
}

.open__txt-file {
  width: 130px;
  user-select: none;
  padding: 25px 0 25px 0;
  font-size: 25px;
  font-weight: 600;
}

p b span {
  color: rgb(92, 92, 92);
  font-size: 24px;
}

.counter {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос */
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  /* user-select: none; */
}

.counter__button {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1 1 auto; /* Изначально в ряд (приблизительно 1/5) */
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.counter__button_minus-edge,
.counter__button_plus-edge {
  flex-grow: 1;
  width: 80px;
  background-color: rgb(140, 222, 255);
}
.counter__button_minus,
.counter__button_plus {
  flex-grow: 1.5;
  background-color: rgb(140, 222, 255);
}
.counter__button_rand {
  width: 165px;
  flex-grow: 1.5;
  background-color: rgb(140, 222, 255);
}

.counter__input input {
  height: 30px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
}

.button__play {
  margin-top: 20px;
  width: 610px;
  height: 40px;
  background-color: rgb(100, 204, 245);
}

.counter__button_minus-edge:hover,
.counter__button_plus-edge:hover,
.counter__button_minus:hover,
.counter__button_rand:hover,
.counter__button_plus:hover,
.button__play:hover {
  background-color: rgb(172, 228, 250);
}

.counter__button_minus-edge:active,
.counter__button_plus-edge:active,
.counter__button_minus:active,
.counter__button_rand:active,
.counter__button_plus:active,
.button__play:active {
  background-color: rgb(213, 234, 243);
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* Медиа-запрос для диапазона 650px - 500px */
@media (max-width: 650px) and (min-width: 500px) {
  .container {
    max-width: 650px;
    background-color: #edcef7;
    flex-direction: column; /* Вариант: вертикальный список */
  }

  .counter__button_minus-edge,
  .counter__button_plus-edge {
    order: 1; /* Опускает элементы вниз */
  }
  .counter__button_minus,
  .rand__button,
  .counter__button_plus {
    order: 0; /* Оставляет наверху */
  }

  /* Перенастройка ширины для мобильных */
  .counter__button_minus-edge,
  .counter__button_plus-edge {
    max-width: 140px; /* Элементы 1 и 5 под 2 и 4 */
  }

  .counter__button_minus-edge {
    margin-right: auto;
  }

  .counter__button_minus,
  .counter__button_rand,
  .counter__button_plus {
    width: 30%;
  }
  .button__play {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
    background-color: #a0f195;
    flex-direction: column; /* Вариант: вертикальный список */
  }

  .counter__button_minus-edge,
  .counter__button_plus-edge {
    order: 1; /* Опускает элементы вниз */
  }
  .counter__button_minus,
  .rand__button,
  .counter__button_plus {
    order: 0; /* Оставляет наверху */
  }

  /* Перенастройка ширины для мобильных */
  .counter__button_minus-edge,
  .counter__button_plus-edge {
    max-width: 140px; /* Элементы 1 и 5 под 2 и 4 */
  }

  .counter__button_minus-edge {
    margin-right: auto;
  }

  .counter__button_minus,
  .counter__button_rand,
  .counter__button_plus {
    width: 30%;
  }
  .button__play {
    width: 380px;
  }
}

@media (max-width: 428px) and (min-width: 406px) {
  html,
  body {
    /* Занимает 100% высоты окна браузера */
    height: 100vh;
    /* Улучшенный вариант для мобильных (учитывает панели браузера) */
    height: 100dvh;

    /* Убирает внешние и внутренние отступы по умолчанию */
    margin: 0;
    padding: 0;

    /* Запрещает прокрутку, если контент не помещается */
    overflow: hidden;
  }

  .header__top {
    background-color: #24b176;
  }

  .info__check {
    margin-right: 10px;
    font-size: 16px;
    padding: 10px;
  }

  .container {
    max-width: 428px;
    max-height: 666px;
    margin-top: auto;
    background-color: #a0f195;
  }

  .operation__field {
    padding: 0;
  }

  .search__horizontal {
    height: 50px;
    display: flex;
    justify-content: space-between; /* Распределяет пространство между элементами */
    align-items: center; /* Выравнивание по вертикали */
  }

  .dummy {
    width: 10px;
  }

  .prevBtn {
    width: 50px;
  }
  .search__field {
    /* margin-top: 10px; */
  }
  .search__input {
    width: 150px;
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
  }
  .nextBtn {
    width: 50px;
  }
  .clean__button-wrap {
    width: 70px;
    display: flex;
    justify-content: flex-end; /* Выравнивает содержимое по правому краю */
    margin-left: 20px;
  }

  .clean__button {
    width: 80px;
    text-align: center;
  }

  .result__wrap {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20px;
    font-size: 14px;
  }

  .header__wrapper {
    max-height: 90px;
    overflow: hidden;
  }

  .before__word {
    text-align: left;
    font-size: 12px;
    color: #333;
  }

  h1 {
    text-align: center;
    margin: 30px 10px 30px 10px;
    font-size: 20px;
    font-weight: 600;
  }

  .after__word {
    text-align: right;
    font-size: 12px;
    color: #333;
  }

  .video-container {
    align-items: center;
    justify-content: center;
  }
  video {
    margin-top: 5px;
    width: auto;
    max-height: 218px;
    object-fit: contain;
  }

  .counter__input {
    margin-top: 20px;
  }

  .counter:hover {
    opacity: 0.8;
  }

  .counter:active {
    opacity: 0.6;
  }

  .counter {
    margin-top: 25px;
  }

  .counter__button_minus-edge,
  .counter__button_plus-edge {
    order: 1; /* Опускает элементы вниз */
    /* Перенастройка ширины для мобильных */
    margin-top: 5px;
    /* max-width: 115px;Элементы 1 и 5 под 2 и 4 */
    max-width: 27%; /* Элементы 1 и 5 под 2 и 4 */
  }
  .counter__button_minus,
  .counter__button_plus {
    order: 0; /* Оставляет наверху */
    /* max-width: 110px; Элементы 1 и 5 под 2 и 4 */
    width: 26%;
  }

  .counter__button_rand {
    /* max-width: 125px; */
    width: 35%;
  }

  .counter__button_minus-edge {
    margin-right: auto;
  }

  /* .counter__button_minus,
  .counter__button_plus {

  } */

  .button__play {
    margin-top: 30px;
    width: 380px;
  }
  .btn {
    transition: 0.2s opacity;
  }
}

@media (max-width: 405px) and (min-width: 392px) {
  html,
  body {
    /* Занимает 100% высоты окна браузера */
    height: 100vh;
    /* Улучшенный вариант для мобильных (учитывает панели браузера) */
    height: 100dvh;

    /* Убирает внешние и внутренние отступы по умолчанию */
    margin: 0;
    padding: 0;

    /* Запрещает прокрутку, если контент не помещается */
    overflow: hidden;
  }

  .header__top {
    background-color: #697dee;
  }

  .logo {
    scale: 80%;
  }
  .info__check {
    margin-right: 10px;
    font-size: 20px;
    padding: 10px;
  }

  .container {
    max-width: 392px;
    max-height: 558px;
    margin-top: auto;
    background-color: #a2aadb;
  }

  .search__horizontal {
    height: 50px;
    display: flex;
    justify-content: space-between; /* Распределяет пространство между элементами */
    align-items: center; /* Выравнивание по вертикали */
  }

  .dummy {
    width: 10px;
  }

  .prevBtn {
    width: 50px;
  }
  .search__field {
    /* margin-top: 10px; */
  }
  .search__input {
    width: 150px;
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
  }
  .nextBtn {
    width: 40px;
  }
  .clean__button-wrap {
    width: 50px;
    display: flex;
    justify-content: flex-end; /* Выравнивает содержимое по правому краю */
    margin-left: 25px;
  }

  .clean__button {
    width: 60px;
    text-align: center;
    right: 0;
    padding: 5px 4px 5px 4px;
  }

  .result__wrap {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20px;
    font-size: 14px;
  }

  .header__wrapper {
    height: 60px;
    overflow: hidden;
  }

  .before__word {
    text-align: left;
    font-size: 12px;
    color: #333;
  }

  h1 {
    text-align: center;
    margin: 25px 10px 25px 10px;
    font-size: 17px;
    font-weight: 600;
  }

  .after__word {
    text-align: right;
    font-size: 12px;
    color: #333;
  }

  .video-container {
    align-items: center;
    justify-content: center;
  }
  video {
    margin-top: 5px;
    width: auto;
    max-height: 200px;
    object-fit: contain;
  }

  .counter__input {
    margin-top: 10px;
  }

  .counter {
    margin-top: 15px;
  }

  .counter__button_minus-edge,
  .counter__button_plus-edge {
    order: 1; /* Опускает элементы вниз */
    /* Перенастройка ширины для мобильных */
    /* max-width: 115px;Элементы 1 и 5 под 2 и 4 */
    max-width: 27%; /* Элементы 1 и 5 под 2 и 4 */
    margin-top: -5px;
  }
  .counter__button_minus,
  .counter__button_rand,
  .counter__button_plus {
    order: 0; /* Оставляет наверху */
  }

  .counter__button_minus-edge {
    margin-right: auto;
  }

  .counter__button_minus,
  .counter__button_plus {
    /* max-width: 110px; Элементы 1 и 5 под 2 и 4 */
    width: 22%;
  }

  .counter__button_rand {
    /* max-width: 125px; */
    width: 29%;
  }

  .button__play {
    margin-top: 15px;
    width: 100%;
  }
}
@media (max-width: 384px) {
  html,
  body {
    /* Занимает 100% высоты окна браузера */
    height: 100vh;
    /* Улучшенный вариант для мобильных (учитывает панели браузера) */
    height: 100dvh;

    /* Убирает внешние и внутренние отступы по умолчанию */
    margin: 0;
    padding: 0;

    /* Запрещает прокрутку, если контент не помещается */
    overflow: hidden;
  }
  .info__check {
    margin-right: 10px;
    font-size: 18px;
    padding: 10px;
  }

  .header__top {
    background-color: #f79ebb;
  }

  .info__check {
    margin-right: 10px;
    font-size: 16px;
    padding: 10px;
  }

  .container {
    max-width: 384px;
    max-height: 595px;
    margin-top: auto;
    background-color: #f0c0d0;
  }

  .search__horizontal {
    height: 50px;
    display: flex;
    justify-content: space-between; /* Распределяет пространство между элементами */
    align-items: center; /* Выравнивание по вертикали */
  }

  .dummy {
    width: 10px;
  }

  .prevBtn {
    width: 50px;
  }
  .search__field {
    /* margin-top: 10px; */
  }
  .search__input {
    width: 150px;
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
  }
  .nextBtn {
    width: 40px;
  }
  .clean__button-wrap {
    width: 50px;
    display: flex;
    justify-content: flex-end; /* Выравнивает содержимое по правому краю */
    margin-left: 25px;
  }

  .clean__button {
    width: 60px;
    text-align: center;
    right: 0;
    padding: 5px 4px 5px 4px;
  }

  .result__wrap {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20px;
    font-size: 14px;
  }

  .header__wrapper {
    height: 80px;
    overflow: hidden;
  }

  .before__word {
    text-align: left;
    font-size: 12px;
    color: #333;
  }

  h1 {
    text-align: center;
    margin: 20px 10px 20px 10px;
    font-size: 20px;
    font-weight: 600;
  }

  .after__word {
    text-align: right;
    font-size: 12px;
    color: #333;
  }

  .video-container {
    align-items: center;
    justify-content: center;
  }
  video {
    margin-top: 5px;
    width: auto;
    max-height: 200px;
    object-fit: contain;
  }

  .counter__input {
    margin-top: 10px;
  }

  .counter {
    margin-top: 15px;
  }

  .counter__button_minus-edge,
  .counter__button_plus-edge {
    order: 1; /* Опускает элементы вниз */
    /* Перенастройка ширины для мобильных */
    margin-top: 0;
    /* max-width: 115px;Элементы 1 и 5 под 2 и 4 */
    max-width: 27%; /* Элементы 1 и 5 под 2 и 4 */
  }
  .counter__button_minus,
  .counter__button_rand,
  .counter__button_plus {
    order: 0; /* Оставляет наверху */
  }

  .counter__button_minus-edge {
    margin-right: auto;
  }

  .counter__button_minus,
  .counter__button_plus {
    /* max-width: 110px; Элементы 1 и 5 под 2 и 4 */
    width: 22%;
  }

  .counter__button_rand {
    /* max-width: 125px; */
    width: 29%;
  }

  .button__play {
    margin-top: 20px;
    width: 355px;
  }
}
