@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

p {
  padding: 5px 0 5px 0;
  color: #000;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 35px 20px 35px 20px;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  overflow: hidden;
}

.video-container video {
  width: auto;
  height: 100%;
  object-fit: contain;
}

button {
  padding: 0 15px 0 15px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.header__top {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  height: 85px;
  align-items: center;
  background-color: #7ccdec;
}
.logo {
  scale: 90%;
}

.buffer__val {
  font-size: 22px;
}

.menu__list {
  display: flex;
}

.info__check {
  justify-content: flex-start;
  text-align: right;
  margin-right: 10px;
  font-size: 20px;
  padding: 10px;
  color: #000;
}

.info__check p b span {
  color: black;
  font-size: 24px;
}

.info__check p:first-child {
  padding-bottom: 5px;
}

.info__check p + * {
  padding-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  min-height: 828px;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(197, 100%, 86%);
}

.operation__field {
  display: flex;
  flex-direction: column;
  /* justify-content: top; */
  align-items: center;
}
.search__general {
  all: revert;
  align-self: stretch; /* Возвращает поведение по умолчанию: растягивает на всю высоту */
  max-width: 1170px;
  flex-direction: column;
  display: flex;
}

/* Главный контейнер шириной 1170px ИЗМЕНЕНИЯ*/
.search__horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1140px; */
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  background-color: #ccf1ff;
}

/* Крайние контейнеры (базово по 300px, сжимаются и тянутся пропорционально) */
.sbox {
  flex: 1 1 200px;
  /* background-color: #f0f0f0; */
  padding: 10px;
}

/* Правый контейнер: настраиваем позиционирование кнопки */
.clean__button-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.clean__button {
  /* flex: 1 1 50px;
  max-width: 50px;
  min-width: 20px; */
  margin-right: 10px;
  /* text-align: center; */
}

/* Средний контейнер (занимает всё свободное место) */
.search__field {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 2 1 auto; /* Растягивается и сжимается быстрее крайних */
  /* background-color: #e0e0e0; */
  padding: 10px;
}

.search__field .search__input {
  flex: 1 1 300px;
  min-width: 80px;
  box-sizing: border-box;
  padding: 8px;
}

/* Кнопки в среднем контейнере фиксируются по ширине контента */
.search__field .btn-search {
  /* flex: 1 1 50px; */
  flex: 0 0 auto;
  min-width: 40px;
  /* box-sizing: border-box; */
  text-align: center;
  overflow: hidden;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Контейнер на всю ширину */
  padding-left: 15px;
  padding-right: 15px;
  /* max-height: 100px; */
  height: 100px;
  align-items: center;
  overflow: hidden;
  background-color: #7ccdec;
}

.before__word {
  width: 25%;
  text-align: left;
  font-size: 20px;
  color: #333;
}

.after__word {
  width: 25%;
  text-align: right;
  font-size: 20px;
  color: #333;
}

.video-container {
  margin-top: 5px;
  display: flex;
  justify-content: center; /* Выравнивает видео по центру wrapper, если его ширина меньше 100% */
  width: 100%; /* Растягивает контейнер на всю ширину блока .container */
  height: 480px; /* Фиксированная высота контейнера */
  background-color: #b6eaff;
  align-items: center;
}

.counter__input {
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: #7ccdec;
}

.counter__input p {
  margin-top: 0;
  margin: 0;
  font-size: 20px;
}

.open__txt-file {
  width: 130px;
  user-select: none;
  padding: 25px 0 25px 0;
  font-size: 25px;
  font-weight: 600;
}

p b span {
  color: rgb(92, 92, 92);
  font-size: 24px;
}

.counter {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос */
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /* user-select: none; */
}

.counter__button {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1 1 auto; /* Изначально в ряд (приблизительно 1/5) */
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.counter__button_minus-edge,
.counter__button_plus-edge {
  flex-grow: 1;
  width: 80px;
  background-color: rgb(140, 222, 255);
}
.counter__button_minus,
.counter__button_plus {
  flex-grow: 1.5;
  background-color: rgb(140, 222, 255);
}
.counter__button_rand {
  width: 165px;
  flex-grow: 1.5;
  background-color: rgb(140, 222, 255);
}

.counter__input input {
  height: 30px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
}

.button__play {
  margin-top: 20px;
  width: 610px;
  height: 40px;
  background-color: rgb(100, 204, 245);
}

.counter__button_minus-edge:hover,
.counter__button_plus-edge:hover,
.counter__button_minus:hover,
.counter__button_rand:hover,
.counter__button_plus:hover,
.button__play:hover {
  background-color: rgb(172, 228, 250);
}

.counter__button_minus-edge:active,
.counter__button_plus-edge:active,
.counter__button_minus:active,
.counter__button_rand:active,
.counter__button_plus:active,
.button__play:active {
  background-color: rgb(213, 234, 243);
}

.footer__field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(100, 204, 245);
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* Медиа-запрос для диапазона 865px - 651px */
@media (max-width: 865px) and (min-width: 651px) {
  .container {
    max-width: 865px;
    background-color: #edcef7;
    flex-direction: column; /* Вариант: вертикальный список */
  }

  .before__word {
    font-size: 14px;
  }

  h1 {
    font-size: 22px;
    font-weight: 600;
  }

  .after__word {
    font-size: 14px;
  }

  .video-container {
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    height: 350px;
  }

  video {
    width: auto;
    max-height: 350px;
    object-fit: contain;
  }
}
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* Медиа-запрос для диапазона 650px - 500px */
@media (max-width: 650px) and (min-width: 501px) {
  .container {
    max-width: 650px;
    background-color: #edcef7;
    flex-direction: column; /* Вариант: вертикальный список */
  }
  /* Поиск-шмоиск */
  .search__horizontal {
    background-color: #a0f195;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    gap: 15px;
    width: 100%;

    box-sizing: border-box;
  }
  .sbox .dummy {
    /* flex: 1; */
    display: flex;
    text-align: right;
    white-space: nowrap;
  }

  .search__info {
    font-size: 12px;
  }

  .search__field {
    display: flex;
    align-items: center;
    /* flex-shrink: 1; */
    gap: 10px; /* отступ между кнопками и инпутом */
    flex-grow: 1; /* позволяет занять свободное пространство */
    /* min-width: 0;  обязательно для flex-элементов, чтобы они могли корректно сжиматься */
  }

  .btn-search {
    width: 60px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .search__input {
    width: 170px;
    box-sizing: border-box;
  }

  .sbox .clean__button-wrap {
    flex-shrink: 0;
    width: 60px;
    box-sizing: border-box;
  }

  .clean__button {
    width: 60px;
    padding-left: 3px;
    padding-right: 3px;
  }
  /* H1 Область показа слов */
  .before__word {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .after__word {
    font-size: 14px;
  }
  .video-container {
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    max-height: 270px;
  }

  video {
    width: auto;
    max-height: 270px;
    object-fit: contain;
  }

  .counter__button_minus-edge,
  .counter__button_plus-edge {
    order: 1; /* Опускает элементы вниз */
  }
  .counter__button_minus,
  .rand__button,
  .counter__button_plus {
    order: 0; /* Оставляет наверху */
  }

  /* Перенастройка ширины для мобильных */
  .counter__button_minus-edge,
  .counter__button_plus-edge {
    max-width: 140px; /* Элементы 1 и 5 под 2 и 4 */
  }

  .counter__button_minus-edge {
    margin-right: auto;
  }

  .counter__button_minus,
  .counter__button_rand,
  .counter__button_plus {
    width: 30%;
  }
  .button__play {
    width: 450px;
  }
}
@media (max-width: 500px) and (min-width: 430px) {
  .container {
    max-width: 500px;
    background-color: #a0f195;
    flex-direction: column; /* Вариант: вертикальный список */
  }

  /* Поиск-шмоиск */
  .search__horizontal {
    background-color: #a0f195;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    gap: 0px;
    width: 100%;

    box-sizing: border-box;
  }
  .sbox .dummy {
    /* flex: 1; */
    display: flex;
    text-align: right;
    white-space: nowrap;
  }

  .search__info {
    font-size: 10px;
  }

  .search__field {
    display: flex;
    align-items: center;
    /* flex-shrink: 1; */
    gap: 3px; /* отступ между кнопками и инпутом */
    flex-grow: 1; /* позволяет занять свободное пространство */
    /* min-width: 0;  обязательно для flex-элементов, чтобы они могли корректно сжиматься */
  }

  .btn-search {
    width: 55px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .search__input {
    width: 160px;
    box-sizing: border-box;
  }

  .sbox .clean__button-wrap {
    flex-shrink: 0;
    width: 55px;
    box-sizing: border-box;
  }

  .clean__button {
    width: 55px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .before__word {
    font-size: 12px;
  }

  h1 {
    font-size: 18px;
    font-weight: 600;
  }

  .after__word {
    font-size: 12px;
  }

  .video-container {
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    max-height: 230px;
  }

  video {
    margin-top: 5px;
    width: auto;
    max-height: 230px;
    object-fit: contain;
  }

  .counter__button_minus-edge,
  .counter__button_plus-edge {
    order: 1; /* Опускает элементы вниз */
  }
  .counter__button_minus,
  .rand__button,
  .counter__button_plus {
    order: 0; /* Оставляет наверху */
  }

  /* Перенастройка ширины для мобильных */
  .counter__button_minus-edge,
  .counter__button_plus-edge {
    max-width: 140px; /* Элементы 1 и 5 под 2 и 4 */
  }

  .counter__button_minus-edge {
    margin-right: auto;
  }

  .counter__button_minus,
  .counter__button_rand,
  .counter__button_plus {
    width: 30%;
  }
  .button__play {
    width: 380px;
  }
}
/* Poco X6 Pro */
@media (max-width: 429px) and (min-width: 406px) {
  html,
  body {
    /* Занимает 100% высоты окна браузера */
    height: 100vh;
    /* Улучшенный вариант для мобильных (учитывает панели браузера) */
    height: 100dvh;

    /* Убирает внешние и внутренние отступы по умолчанию */
    margin: 0;
    padding: 0;

    /* Запрещает прокрутку, если контент не помещается */
    overflow: hidden;
  }

  .logo {
    scale: 80%;
  }
  .header__top {
    background-color: #24b176;
  }

  .info__check {
    margin-right: 2px;
    font-size: 16px;
    padding: 10px;
  }

  .container {
    max-width: 428px;
    min-height: 640px;
    margin-top: auto;
    background-color: #a0f195;
  }

  .operation__field {
    padding: 0;
  }

  .header__wrapper {
    max-height: 90px;
    overflow: hidden;
  }

  .search__horizontal {
    background-color: #a0f195;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    gap: 0px;
    width: 100%;
    max-width: 406px;
    box-sizing: border-box;
  }
  .sbox .dummy {
    /* flex: 1; */
    display: flex;
    text-align: right;
    white-space: nowrap;
  }

  .search__info {
    font-size: 10px;
  }

  .search__field {
    display: flex;
    align-items: center;
    /* flex-shrink: 1; */
    gap: 3px; /* отступ между кнопками и инпутом */
    flex-grow: 1; /* позволяет занять свободное пространство */
    /* min-width: 0;  обязательно для flex-элементов, чтобы они могли корректно сжиматься */
  }

  .btn-search {
    width: 50px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .search__input {
    width: 160px;
    box-sizing: border-box;
  }

  .sbox .clean__button-wrap {
    flex-shrink: 0;
    width: 50px;
    box-sizing: border-box;
  }

  .clean__button {
    width: 45px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .header__wrapper {
    background-color: #24b176;
  }

  .before__word {
    text-align: left;
    font-size: 10px;
    color: #333;
  }

  h1 {
    text-align: center;
    margin: 30px 10px 30px 10px;
    font-size: 18px;
    font-weight: 600;
  }

  .after__word {
    text-align: right;
    font-size: 10px;
    color: #333;
  }

  .video-container {
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    max-height: 218px;
    background-color: #a0f195;
  }
  video {
    width: auto;
    max-height: 218px;
    object-fit: contain;
  }

  .counter__input {
    background-color: #24b176;
    margin-top: 15px;
    padding: 10px 0 10px 0;
  }

  .counter:hover {
    opacity: 0.8;
  }

  .counter:active {
    opacity: 0.6;
  }

  .counter {
    margin-top: 12px;
  }

  .counter__button_minus-edge,
  .counter__button_plus-edge {
    order: 1; /* Опускает элементы вниз */
    /* Перенастройка ширины для мобильных */
    /* margin-top: 5px; */
    /* max-width: 115px;Элементы 1 и 5 под 2 и 4 */
    max-width: 27%; /* Элементы 1 и 5 под 2 и 4 */
  }
  .counter__button_minus,
  .counter__button_plus {
    order: 0; /* Оставляет наверху */
    /* max-width: 110px; Элементы 1 и 5 под 2 и 4 */
    width: 26%;
  }

  .counter__button_rand {
    /* max-width: 125px; */
    width: 35%;
  }

  .counter__button_minus-edge {
    margin-right: auto;
  }

  /* .counter__button_minus,
  .counter__button_plus {

  } */

  .button__play {
    margin-top: 20px;
    width: 380px;
  }
  .btn {
    transition: 0.2s opacity;
  }

  .footer__field {
    height: 40px;
    max-width: 406px;
    background-color: #24b176;
  }
}
/* Mi Max 3 */
@media (max-width: 405px) and (min-width: 385px) {
  html,
  body {
    /* Занимает 100% высоты окна браузера */
    height: 100vh;
    /* Улучшенный вариант для мобильных (учитывает панели браузера) */
    height: 100dvh;

    /* Убирает внешние и внутренние отступы по умолчанию */
    margin: 0;
    padding: 0;

    /* Запрещает прокрутку, если контент не помещается */
    overflow: hidden;
  }

  .header__top {
    background-color: #697dee;
  }

  .logo {
    scale: 80%;
  }
  .info__check {
    margin-right: 2px;
    font-size: 16px;
    padding: 10px;
  }

  .container {
    max-width: 405px;
    min-height: 535px;
    margin-top: auto;
    background-color: #a2aadb;
  }

  .header__wrapper {
    height: 60px;
    overflow: hidden;
  }

  .search__horizontal {
    background-color: #a2aadb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0 3px 0;
    gap: 0px;
    width: 100%;
    max-width: 406px;
    box-sizing: border-box;
  }
  .sbox .dummy {
    /* flex: 1; */
    display: flex;
    text-align: right;
    white-space: nowrap;
  }

  .search__info {
    font-size: 10px;
  }

  .search__field {
    display: flex;
    align-items: center;
    /* flex-shrink: 1; */
    gap: 3px; /* отступ между кнопками и инпутом */
    flex-grow: 1; /* позволяет занять свободное пространство */
  }

  .btn-search {
    width: 50px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .search__input {
    width: 150px;
    box-sizing: border-box;
  }

  .sbox .clean__button-wrap {
    flex-shrink: 0;
    width: 50px;
    box-sizing: border-box;
  }

  .clean__button {
    width: 45px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .header__wrapper {
    background-color: #697dee;
  }

  .before__word {
    text-align: left;
    font-size: 10px;
    color: #333;
  }

  h1 {
    text-align: center;
    margin: 25px 10px 25px 10px;
    font-size: 17px;
    font-weight: 600;
  }

  .after__word {
    text-align: right;
    font-size: 10px;
    color: #333;
  }

  .video-container {
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    background-color: #a2aadb;
  }
  video {
    width: auto;
    max-height: 200px;
    object-fit: contain;
  }

  .counter__input {
    background-color: #697dee;
    margin-top: 5px;
  }

  .counter {
    margin-top: 15px;
  }

  .counter__button_minus-edge,
  .counter__button_plus-edge {
    order: 1; /* Опускает элементы вниз */
    /* Перенастройка ширины для мобильных */
    /* max-width: 115px;Элементы 1 и 5 под 2 и 4 */
    max-width: 27%; /* Элементы 1 и 5 под 2 и 4 */
    margin-top: -10px;
  }
  .counter__button_minus,
  .counter__button_rand,
  .counter__button_plus {
    order: 0; /* Оставляет наверху */
  }

  .counter__button_minus-edge {
    margin-right: auto;
  }

  .counter__button_minus,
  .counter__button_plus {
    /* max-width: 110px; Элементы 1 и 5 под 2 и 4 */
    width: 22%;
  }

  .counter__button_rand {
    /* max-width: 125px; */
    width: 29%;
  }

  .button__play {
    height: 35px;
    margin-top: 10px;
    width: 360px;
  }

  .footer__field {
    height: 40px;
    max-width: 405px;
    background-color: #697dee;
  }
}
/* Samsung S24FE */
@media (max-width: 384px) {
  html,
  body {
    /* Занимает 100% высоты окна браузера */
    height: 100vh;
    /* Улучшенный вариант для мобильных (учитывает панели браузера) */
    height: 100dvh;

    /* Убирает внешние и внутренние отступы по умолчанию */
    margin: 0;
    padding: 0;

    /* Запрещает прокрутку, если контент не помещается */
    overflow: hidden;
  }

  .header__top {
    background-color: #f79ebb;
  }

  .logo {
    scale: 80%;
  }

  .info__check {
    margin-right: 2px;
    font-size: 16px;
    padding: 10px;
  }

  .container {
    max-width: 384px;
    min-height: 570px;
    margin-top: auto;
    background-color: #f0c0d0;
  }

  .search__horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0 3px 0;
    gap: 0px;
    width: 100%;
    max-width: 406px;
    box-sizing: border-box;
    background-color: #f0c0d0;
  }
  .sbox .dummy {
    display: flex;
    text-align: right;
    white-space: nowrap;
  }

  .search__info {
    font-size: 10px;
  }

  .search__field {
    display: flex;
    align-items: center;
    gap: 3px; /* отступ между кнопками и инпутом */
    flex-grow: 1; /* позволяет занять свободное пространство */
    /* min-width: 0;  обязательно для flex-элементов, чтобы они могли корректно сжиматься */
  }

  .btn-search {
    width: 50px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .search__input {
    width: 140px;
    box-sizing: border-box;
  }

  .sbox .clean__button-wrap {
    flex-shrink: 0;
    width: 50px;
    box-sizing: border-box;
  }

  .clean__button {
    width: 45px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .header__wrapper {
    height: 80px;
    overflow: hidden;
    background-color: #f79ebb;
  }

  .before__word {
    text-align: left;
    font-size: 10px;
    color: #333;
  }

  h1 {
    text-align: center;
    margin: 20px 10px 20px 10px;
    font-size: 17px;
    font-weight: 600;
  }

  .after__word {
    text-align: right;
    font-size: 10px;
    color: #333;
  }

  .video-container {
    background-color: #f0c0d0;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    max-height: 200px;
  }
  video {
    width: auto;
    max-height: 200px;
    object-fit: contain;
  }

  .counter__input {
    background-color: #f79ebb;
    margin-top: 10px;
    padding: 5px 0 5px 0;
  }
  .open__txt-file {
    width: 80px;
    user-select: none;
    padding: 20px 0 20px 0;
    font-size: 20px;
    font-weight: 600;
  }
  .counter {
    margin-top: 15px;
  }

  .counter__button_minus-edge,
  .counter__button_plus-edge {
    order: 1; /* Опускает элементы вниз */
    /* Перенастройка ширины для мобильных */
    margin-top: -5px;
    /* max-width: 115px;Элементы 1 и 5 под 2 и 4 */
    max-width: 27%; /* Элементы 1 и 5 под 2 и 4 */
  }
  .counter__button_minus,
  .counter__button_rand,
  .counter__button_plus {
    order: 0; /* Оставляет наверху */
  }

  .counter__button_minus-edge {
    margin-right: auto;
  }

  .counter__button_minus,
  .counter__button_plus {
    /* max-width: 110px; Элементы 1 и 5 под 2 и 4 */
    width: 22%;
  }

  .counter__button_rand {
    /* max-width: 125px; */
    width: 29%;
  }

  .button__play {
    height: 35px;
    margin-top: 15px;
    width: 355px;
  }

  .footer__field {
    height: 40px;
    max-width: 384px;
    background-color: #f79ebb;
  }
}
